<p style="color: green"><%= notice %></p>

<h1>Sales by years</h1>

<div id="sales_by_years">
<table>
  <tr>
    <th>Book</th>
    <th>Year</th>
    <th>Sales</th>
    <th>Details</th>
  </tr>
  <% @sales_by_years.each do |sales_by_year| %>
  <tr>
    <td><%= sales_by_year.book_id %></td>
    <td><%= sales_by_year.year %></td>
    <td><%= sales_by_year.sales %></td>
    <td><%= link_to "Show", sales_by_year %></td>
  </tr>
  <% end %>
</table>
</div>
<div>
<%= link_to "New sales by year", new_sales_by_year_path %>
</div>
<div>
<%= link_to "Home", root_path %>
</div>