<%= form_with(model: author, local: true, multipart: true) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date_of_birth, style: "display: block" %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :country_of_origin, style: "display: block" %>
    <%= form.text_field :country_of_origin %>
  </div>

  <div>
    <%= form.label :short_description, style: "display: block" %>
    <%= form.text_field :short_description %>
  </div>
  <div>
    <%= form.label :photo_file, "Upload Photo", style: "display: block" %>
    <%= form.file_field :photo_file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
