<p style="color: green"><%= notice %></p>

<h1>Autores</h1>
<table>
  <thead>
    <tr>
    <th>
    <%= link_to 'Nombre', authors_path(sort_by: 'name', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
  </th>
  <th>
    <%= link_to 'Número de Libros', authors_path(sort_by: 'num_books', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
  </th>
  <th>
    <%= link_to 'Puntuación Promedio', authors_path(sort_by: 'average_score', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
  </th>
  <th>
    <%= link_to 'Ventas Totales', authors_path(sort_by: 'total_sales', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
  </th>
  
    </tr>
  </thead>
  <tbody>
   <% if @sorted_authors.nil? %>
   <p>No authors found</p>
  <% else %>
    <% @sorted_authors.each do |author| %>
      <tr>
        <td><%= author[:author].name %></td>
        <td><%= author[:num_books] %></td>
        <td><%= author[:average_score] %></td>
        <td><%= author[:total_sales] %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
