<div id="<%= dom_id book %>">
  
  <% if book.cover_url.present? %>
    <p>
      <strong>Cover Image:</strong>
      <%= image_tag("/uploads/#{book.cover_url}", alt: 'Book Cover', style: 'max-width: 200px;') %>
    </p>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Date of publication:</strong>
    <%= book.date_of_publication %>
  </p>

  <p>
    <strong>Number of sales:</strong>
    <%= book.number_of_sales %>
  </p>

  

</div>
