<h1>Resultados de la Búsqueda</h1>
<%= form_with url: search_books_path, method: :get, local: true do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Buscar' %>
  <% end %>
<% if @books.nil? %>

    <p>No se encontraron libros que coincidan con la búsqueda.</p>

<% else %>
<% if @books.any? %>
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.name, book_path(book) %><br>
        <%= truncate(book.summary, length: 200) %>
      </li>
    <% end %>
  </ul>

  <div class="pagination">
    <% if @current_page > 1 %>
      <%= link_to 'Anterior', search_result_books_path(search: params[:search], page: @current_page - 1) %>
    <% end %>

    <% if @current_page < @total_pages %>
      <%= link_to 'Siguiente', search_result_books_path(search: params[:search], page: @current_page + 1) %>
    <% end %>
  </div>
<% else %>
  <p>No se encontraron libros que coincidan con la búsqueda.</p>
<% end %>
<% end %>
<%= link_to 'Nueva Búsqueda', search_books_path %>
