<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
<table>
  <tr>
    <th>Book</th>
    <th>Review</th>
    <th>Score</th>
    <th>Number of up votes</th>
    <th>Details</th>
  </tr>
  <% @reviews_with_books.each do |review| %>
  <tr>
    <td><%= review[:book_name] %></td>
    <td><%= review[:review].review %></td>
    <td><%= review[:review].score %></td>
    <td><%= review[:review].number_of_up_votes %></td>
    <td><%= link_to "Show", review[:review] %></td>
  </tr>
  <% end %>
</table>
</div>
<div>
<%= link_to "New review", new_review_path %>
</div>
<div>
<%= link_to "Home", root_path %>
</div>