<nav>
  <ul>
    <li><%= link_to 'Inicio', root_path %></li>
    <li><%= link_to 'Autores', authors_path %></li>
    <li><%= link_to 'Libros Mejor Calificados', top_rated_books_books_path %></li>
    <li><%= link_to 'Libros Más Vendidos', top_selling_books_books_path %></li>
    <li><%= link_to 'Buscar Libros', search_books_path %></li>
  </ul>
</nav>
